<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Detection</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
      <link href="{{ url_for('static', filename='css/my_file.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Plant Disease Detection</a>

        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>

<footer>
    <div class="foot">


    <b>Created By :<a href="https://www.linkedin.com/in/aarya-panchal-2193003/"> Aarya Panchal</a></b><br>
    <b><a href="https://github.com/LazyCoder005/Pneumonia-Detection-Deployment">Github Link</a></b><br>
     <b>Web Credit: <a href="https://www.linkedin.com/in/vansh-shah-23365220a/ ">Vansh Shah</a></b>


    </div>

</footer>

</html>